@import url(./styles/header.css);
@import url(./styles/services.css);
@import url(./styles/banner.css);
@import url(./styles/footer.css);
@import url(./styles/coments-swiper.css);
@import url(./styles/swiper-bundle.min.css);
@import url(./styles/call.css);

:root {
  --color-primary: #e3bd1c;
  --color-secondary: #838282;
  --black: #000000;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Titillium Web", sans-serif;
}

.title {
  text-align: center;
  font-size: 3rem;
  padding-top: 2rem;
}

.button {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.7em 2em;
  border: 3px solid var(--color-primary);
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: var(--color-primary);
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: none;
}

.button:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: var(--color-primary);
  z-index: -1;
}

.button:hover,
button:focus {
  color: white;
}

.button:hover:before,
button:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.button:active {
  transform: scale(0.9);
}
