.call {
  width: auto;
  padding: 1rem;
  font-size: 20px;
  background-color: var(--color-secondary);
  color: var(--white);
}

.call > p {
  padding: 1rem;
}

.call > h2 {
  padding-bottom: 1rem;
  border-bottom: var(--white) 2px solid;
  margin: 0 3rem 0;
}

.social-media-call {
  margin: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.social-media-call > p {
  font-size: 2rem;
  margin: 1rem;
  text-align: center;
}

.callBtn > img {
  width: 2rem;
}

.callBtn {
  width: auto;
  background: var(--white);
}

@media screen and (max-width: 720px) {
  .social-media-call {
    flex-direction: column;
  }
}
